<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
    	<!-- Navigation Menu Folder ID's -->
       <setting name="subNavMenuFolderGuid" value="C9D8CBFA-D320-4417-A944-F74064DA1FF3" />
       <setting name="mainNavMenuFolderGuid" value="337C22C2-3DCA-4C74-B406-0880EBA15637" />
       <setting name="mainNavDropdownMenuFolderGuid" value="99DBDCC1-97EF-4E56-A1C3-CE6A3C92174D" /> 

       <!--Mega Nav Menus Folder ID's -->
       <setting name="fadMegaNavCol1FolderGuid" value="7614EBC6-956D-406A-A2B8-EDCA282B1E29" />
       <setting name="fadMegaNavCol2FolderGuid" value="77093E56-1C95-4C53-B46F-1E441A41A77B" />
       <setting name="fadMegaNavCol3FolderGuid" value="322D7356-94C8-4D93-9B58-DE8B892FC4F9" />

       <setting name="fmMegaNavCol1FolderGuid" value="8CCDDF9A-D5D5-49D2-87FF-74E45643F114" />
       <setting name="fmMegaNavCol2FolderGuid" value="AEA5DB05-5ACF-45BD-BCBD-CC1AC60CE7DF" /> 
       <setting name="fmMegaNavCol3FolderGuid" value="F0286B2E-EE87-41C2-9400-295ABF39256C" />

       <setting name="fpMegaNavCol1FolderGuid" value="D4665370-6280-4ED7-A430-867672B833CA" />
       <setting name="fpMegaNavCol2FolderGuid" value="388D3417-1752-40EA-9FC0-6DA3D5FB5324" />
       <setting name="fpMegaNavCol3FolderGuid" value="CC1E4897-080E-494C-A4A6-F06D8CA97BB4" />

       <setting name="fcMegaNavCol1FolderGuid" value="97E2D725-7277-42CA-9F62-897A0857D203" />
       <setting name="fcMegaNavCol2FolderGuid" value="4FECD64D-F2AA-43F0-964A-E229BA44C3CB" />
       <setting name="fcMegaNavCol3FolderGuid" value="84CF1C8C-E764-4C49-8598-DA851F38D768" />

       <!-- Hero Slider ID -->
       <setting name="heroSliderFolderGuid" value="C23FEB2F-AF4F-4165-A32B-352F69C76020" />

       <!--Events Widget Folder ID's -->
       <setting name="doctorTab1FolderGuid" value="CDF3A3AC-7F8A-4742-8CBB-AA8839DDE0B6" /> 
       <setting name="doctorTab2FolderGuid" value="1E899605-1289-4A48-9C30-DC0C93E16D3A" />
       <setting name="urgentTab1FolderGuid" value="068BD40E-ECA6-4F46-9EED-351A0AB2B991" />
       <setting name="urgentTab2FolderGuid" value="407CEDA7-2315-4F5F-BE6F-B8DB4A1505B0" />
       <setting name="pharmacyTab1FolderGuid" value="FB878BA8-7D65-4DF4-BE8E-42A3D0D05AA1" />
       <setting name="pharmacyTab2FolderGuid" value="7884BEFE-F22C-45DE-882C-9A0E79145CF3" />

       <!--Event Widget Results to Display -->
       <setting name="doctorTab1ResultsQty" value="3" />
       <setting name="doctorTab2ResultsQty" value="3" />
       <setting name="urgentTab1ResultsQty" value="3" />
       <setting name="urgentTab2ResultsQty" value="3" />
       <setting name="pharmacyTab1ResultsQty" value="3" />
       <setting name="pharmacyTab2ResultsQty" value="3" />

       <!-- News Articles Folder ID's -->
       <setting name="newsArticlesTab1FolderGuid" value="AF97CA61-EE55-47C4-A086-8DC6126F25C0" />
       <setting name="newsArticlesTab1ResultsQty" value="3" />
       <setting name="newsArticlesTab2FolderGuid" value="C1CAFEA0-2F3A-47FA-8102-E5A167EF8886" />
       <setting name="newsArticlesTab2ResultsQty" value="3" />
       <setting name="newsArticlesTab3FolderGuid" value="5BF74B8F-CE72-4FD6-8749-413AC6A00A92" />
       <setting name="newsArticlesTab3ResultsQty" value="3" />

       <!--Plan Info Folder ID's -->
       <setting name="mediCalFolderGuid" value="87B01D92-B50A-4F34-A2DF-5A24C129F4F7" />
       <setting name="dualChoiceFolderGuid" value="F3433AF5-23D4-4AF3-8040-A8BB5B4EE27F" />


       <!--Member Page Member Hero ID-->
       <setting name="memberHeroImageGuid" value="22937545-2A7E-4579-BE36-FA0ACCCD590C" />


       <!--Health & Wellness Tabs Folder ID's -->
       <setting name="hwTab1Guid" value="6A4FA3C2-45B7-4C7B-B2A2-EFB7BE0DB10A" />
       <setting name="hwTab2Guid" value="74689576-B013-415A-BC4A-BDB04FE4C951" />
       <setting name="hwTab3Guid" value="C6D3FF9E-EB55-4896-B861-109B967C7DDE" />
       <setting name="hwTab4Guid" value="7B233250-ECA8-4715-A68E-8B4DB4CCBFD0" />
       <setting name="hwTab5Guid" value="FFEBD8DF-5117-4234-94EC-BA8E7C7BC281" />
       <setting name="hwTab6Guid" value="627C32AA-28F7-4894-BFEC-FACFB1669B1C" />

       <!--Health & Wellness Video Folder ID -->
       <setting name="hwVideoGuid" value="59D02EF0-FCC1-4691-A047-CBE4DFEA7B99" />

       <!--Health & Wellness Event Folder ID -->
       <setting name="hwEventGuid" value="6CD87DBE-3284-4998-B367-85414F0D4C4B" />

       <!--Member Resources Links Folder ID -->
       <setting name="mrLinksCol1Guid" value="4731B88F-6922-4F40-8FD9-140340194BAC" />
       <setting name="mrLinksCol2Guid" value="65045890-38B2-4832-8EC1-8B6B76AB24AB" />
       <setting name="mrLinksCol3Guid" value="FA2AB0C4-4CF2-4AD0-A6E4-8C30264BA5AF" />


       <!--Footer Navigation Folder ID's -->
       <setting name="footerNavCol1FolderGuid" value="6C4754EE-B9F9-47E0-B51B-B9765707AA74" />
       <setting name="footerNavCol2FolderGuid" value="163904B8-FA80-4659-9E22-CE7A791B927C" />
       <setting name="footerNavCol3FolderGuid" value="9E570B09-3FBF-4495-8805-75B75EA5D94B" />
       <setting name="footerNavCol4FolderGuid" value="8C077CF0-7F39-4DF5-8BFC-7E0EE2FCF9ED" />
       <setting name="footerNavCol5FolderGuid" value="87DEA43C-0008-4ACC-9364-C0AD2F80A4B6" />
       <setting name="extraFooterNavFolderGuid" value="1384B6B0-77A6-44F7-B95F-E5DDAB0B3ED3" />
       
    </settings>
  </sitecore>
</configuration>